
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    font-size:5.4rem;
    color: whitesmoke;
    margin-bottom: 5rem;
}
div {
    font-weight: bold;
    font-size: 1.5rem;
    color: whitesmoke;
}

/* Questions */
.questions-style {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 1rem;
}
.choices-style {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

/* Heads Up Display */
#hud {
    display: flex;
    justify-content: space-between;
}
.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: whitesmoke;
}
.hud-main-text {
    text-align: center;
    color: whitesmoke;
}






/* app css */
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}

/* adjust for deivces */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 autho;
    padding: 2rem;
}
.flex-column {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
text-center{
    text-align: center;
}

.hidden {
    display: none;
}


